/* #report {
  text-align: center;
} */

#lala {
  color: red;
}

.disclaimer {
  color: red;
}

@page {
  margin: 2mm;
  margin-bottom: 0mm;
}

#navitop {
  text-align: center;
}

#navibottom {
  text-align: center;
}

#topc {
  width: 100%;
}

#botc {
  width: 100%;
}


/* TODO fix this */
/* avoid ribbons overlaying content when printing */
@page {

  body.has-navbar-fixed-bottom,
  html.has-navbar-fixed-bottom {
    padding-bottom: 5cm;
  }

  body.has-navbar-fixed-top,
  html.has-navbar-fixed-top {
    padding-top: 5cm;
  }
}
